<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<h1>
    Add customer
</h1>

<div>
    <form action="/addCustomer" method="post">
        <label for="name-field">Name: </label>
        <input type="text" id="name-field" name="name">

        <label for="adress-field">Adress: </label>
        <input type="text" id="adress-field" name="adress">

        <label for="mail-field">Mail: </label>
        <input type="number" id="mail-field" name="mail">

        <label for="phoneNumber-field">PhoneNumber: </label>
        <input type="number" id="phoneNumber-field" name="phoneNumber">

        <input type="submit" value="Add Customer">
    </form>
</div>

</body>
</html>