<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
    <link rel="stylesheet" type="text/css" th:href="@{/AddUpdateStyles.css}">
</head>
<body>
<h1>
    Add Car
</h1>

<div>
    <form action="addCar" method="post">
        <label for="model-field">Model: </label>
        <input type="text" id="model-field" name="model">

        <label for="brand-field">Brand: </label>
        <input type="text" id="brand-field" name="brand">

        <label for="frameNumber-field">Frame Number: </label>
        <input type="number" id="frameNumber-field" name="frameNumber">

        <input type="submit" value="Add Car">
    </form>
    <a th:href="@{/manageCarRegistration}">return to page</a>
</div>

</body>
</html>