<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Damage Type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/AddUpdateStyles.css}">
</head>
<body>
<h1>Add Damage Type</h1>
<form action="/addDamageType" method="post">
    <label for="name-field">Name: </label>
    <input type="text" id="name-field" name="name">
    <label for="price-field">Price:</label>
    <input type="number" id="price-field" name="price"/>
    <input type="submit" value="Add Damage Type">
</form>
<a th:href="@{/manageDamageTypeRegistration}">return to page</a>
</body>
</html>
