<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataRegistration</title>

</head>
<body>
<h1>
    Data registration page
</h1>
<div>
    <a th:href="@{/manageCarRegistration}">
        Car Management
    </a>
</div>
<div>
    <a th:href="@{/manageCustomerRegistration}">
        Customer Management
    </a>
</div>
<div>
    <a>Location Management</a>
</div>
<div>
    <a>Rental Contract Management</a>
</div>
<div>

<!--<a th:href="@{/showAddCarPage}"> Add car</a>-->
</div>

</body>
</html>