<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles.css" th:href="@{HomePageStyles.css}">
</head>
<body>

<h1>
    Home page
</h1>
<div>

        <a th:href="@{/showDamageRepairPage}">Damage & repair</a>
</div>

<div>
        <a th:href="@{/showDataPage}">Data registration</a>
</div>

<div>
        <a th:href="@{/showBusinessDeveloperPage}">Business Developer</a>
</div>

</body>
</html>