<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Car registration</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles.css" th:href="@{Styles.css}">
</head>
<body>
<h1>
    Manage car registration
</h1>
<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Brand</th>
        <th>FrameNumber</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>▼
    </thead>
    <tbody>
    <tr th:each="car: ${carList}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.frameNumber}"></td>
        <td><a href="/showUpdatePage" th:href="@{'/showUpdatePage/'+ ${car.carNumberID}}">Update</a></td>
        <td><a href="/deleteCar" th:href="@{'/deleteCar/'+ ${car.carNumberID}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <h3>Create new Car</h3>
    <a href="AddCar.html" th:href="@{/showAddCarPage}">Click to create new car</a>
</div>
</body>
</html>