<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Damage Types</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles.css" th:href="@{Styles.css}">
</head>
<body>
<h1>Manage Damage Types</h1>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>price</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="damageType: ${damageTypeList}">
        <td th:text="${damageType.name}"></td>
        <td th:text="${damageType.price}"></td>
        <td><a href="/showDamageTypeUpdatePage" th:href="@{'/showDamageTypeUpdatePage/'+ ${damageType.damageTypeID}}">Update</a></td>
        <td><a href="/deleteDamageType" th:href="@{'/deleteDamageType/'+ ${damageType.damageTypeID}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <h3>Create Damage Type</h3>
    <a th:href="@{/showDataPage}">return to page</a>
</div>
</body>
</html>
