<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Agreement</title>
</head>
<body>
<h1>
    Purchase Agreement Management
</h1>
<div style="display: flex; gap: 15px">
<div th:each="rentalContract: ${endedRentalContractList}" style="border:1px solid black;cursor: pointer;padding: 15px">
    <strong>Rental Contract</strong>
    <div th:text="${rentalContract.startDate}"></div>
    <div th:text="${rentalContract.endDate}"></div>
    <div th:text="${rentalContract.customerName}"></div>
    <div th:text="${rentalContract.carModelName}"></div>
    <div th:text="${rentalContract.carFrameNumber}"></div>
    <div>
    <form th:action="@{'/managePurchaseAgreement/'+ ${rentalContract.customerID}}" method="get">
        <button>Purchase</button>
    </form>
    </div>
</div>
</div>
</body>
</html>