<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Car</title>
    <link rel="stylesheet" type="text/css" th:href="@{/AddUpdateStyles.css}">
</head>
<body>
<h1>
    Update Car
</h1>

<div>
    <form action="/updateCar" method="post">

        <input type="hidden" id="carNumberID-field" name="carNumberID" th:value="${car.carNumberID}">

        <label for="model-field">Model: </label>
        <input type="text" id="model-field" name="model" th:value="${car.model}">

        <label for="brand-field">Brand: </label>
        <input type="text" id="brand-field" name="brand" th:value="${car.brand}">

        <label for="frameNumber-field">Frame Number: </label>
        <input type="number" id="frameNumber-field" name="frameNumber" th:value="${car.frameNumber}">

        <input type="submit" value="Update Car">
    </form>
    <a th:href="@{/manageCarRegistration}">return to page</a>
</div>

</body>
</html>